*{
    margin:0px;
    padding:0px;
}


header{
    background-color: rgb(99, 99, 99);
    width:100vw;
    height:5em;
}

main{
    width:100vw;
}

section{
    max-width:65em;
    margin:auto;
}

h1{
    color:#ffffff;
}

p{
    color:#ffffff;
}



#baner{
    background-color:black;
    height:38.5vw;
    width:100vw;
    min-height:5.5in;
}
#baner > section{
    background-color:red;
    height:38.5vw;
    min-height:5.5in;
}
#baner > section > img{
    height:300px;
    width:300px;
}


#temas{
    background-color: chocolate;
    height:50vw; 
    min-height:5.5in;
}


#tema1{
    background-color: brown;
    height:50vw;
    min-height:5.5in;
}


#tema2{
    background-color: blue; 
    height:50vw;
    min-height:5.5in;
}


#tema3{
    background-color: darkgreen;
    height:50vw;
    min-height:5.5in;
}


footer{
    background-color: black;
    width:100vw;
    height:5em;
}