*{
 padding:0px;
 margin:0px;
}
#inicio{
    width:900px;
    height:630px;
    margin:0 auto;
    display:flex;
}
#destaque{
    color:#ffde59;
}
main{
    background-image:linear-gradient(to right,#101010,#3d3d3f,#101010);
    height:630px;
    width:100%;
}
img{
    height:300px;
    width:300px;
    margin-top:200px;
    
}
h1{
    font-size:60px;
    margin-top:130px;
    padding-left:30px;
    color:#ffffff; 
    text-shadow: -0.05em 0.05em 0.05em #333
    
}
p{
    margin-top:30px;
    padding-left:30px;
    font-size:28px;
    color:#ffffff;
    text-shadow: -0.1em 0.01em 0.09em #333
    
}
button{
    border:0px;
    border-radius:15px;
    width:130px;
    height:40px;
    margin-top:20px;
    margin-left:30px;
    font-size:20px;
    background-color:#6aeb35;
    color: #ffffff;
    box-shadow: -3px 3px 10px black
}
