*{
    margin:0px;
    padding:0px;
}


header{
    background-color: rgb(66, 66, 66);
    width:98.9vw;
    height:3.6em;
    padding-top:20px;
    display:flex;
    justify-content:space-between;
}

main{
    width:98.9vw;
}

section{
    max-width:65em;
    margin:auto;
}

h1{
    color:#ffffff;
    text-shadow:-1px 1px 1px rgba(0, 0, 0, 0.616);
   
}

p{
    color:#ffffff;
    text-shadow:-1px 1px 1px rgba(0, 0, 0, 0.616);
}
h2{
    text-shadow:-1px 1px 2px rgba(0, 0, 0, 0.616);
}

.destaque{
    color: #f1cd01;
}


header > div > img{
    width:150px;
    height:30px;
    margin-top:2px;
    margin-left:6px;
}
header> div {
    margin-left:30px;
    background-color: #ffffff;
    width:170px;
    height:40px;
    border-radius:10px;
}
header > a{
    font-size:20px;
    text-decoration:none;
    color: #ffffff;
    margin-right:35px;
    margin-top:6px;
}

#baner{
    background-color:black;
    height:38.9vw;
    width:98.9vw;
}
#baner > section{
    height:38.9vw;
    display: flex;
}
#baner > section > img{
    height:300px;
    width:300px;
    padding:10px;
    margin-top:85px;
    margin-left:40px;
}
#baner > section > div {
    width:600px;
    margin-top:65px;
    padding-left:20px;
}
#baner > section > div > h1 {
    font-size:50px;
    margin-bottom:30px;
}
#baner > section > div > p {
    font-size:30px;
    margin-bottom:20px;
    width:580px;
}
#baner > section > div > button{
    width: 130px;
    height: 45px;
    font-size: 20px;
    color: #ffffff;
    background-color:green;
    border-radius:20px;
}


#temas{
    height:52vw; 
}
#flex{
    display: flex;
}
#temas > h2 {
    font-size:50px;
    text-align:center;
    padding-top:50px;
    margin-bottom:20px;
}
.box{
    width:300px;
    height:450px;
    margin: auto;
    margin-top:20px;
    border:2px solid black;
    box-shadow:-3px 3px 5px rgba(0, 0, 0, 0.582);
}
#temas > div > div > img {
    width:300px;
    height:320px;
}
#temas > div > div > h2 {
    margin-top:10px;
    text-align:center;


}
#temas > div > div > p {
    color:black;
    font-size:1.5em;
    text-align: center;
    margin-top:3px;
}

#tema1{
    height:48vw;
}
#contener-tema1{
    background-color: black;
}
#tema1 > h2 {
    color: #f1cd01;
    font-size:45px;
    text-align: center;
    padding-top:160px;
    margin-bottom:30px;
}
#tema1 > p{
    font-size:30px;
    text-align: center;
    width:850px;
    margin: auto;
} 


#tema2{
    height:49vw;
}
#tema2 > h2 {
    color: #f1cd01;
    font-size:45px;
    text-align: center;
    padding-top:180px;
    margin-bottom:30px;
}
#tema2 > p{
    color: black;
    font-size:30px;
    text-align: center;
    width:850px;
    margin: auto;
} 


#tema3{
    height:49vw;
}
#contener-tema3{
    background-color: black;
}
#tema3 > h2 {
    color: #f1cd01;
    font-size:45px;
    text-align: center;
    padding-top:180px;
    margin-bottom:30px;
}
#tema3 > p{
    font-size:30px;
    text-align: center;
    width:850px;
    margin: auto;
} 


footer{
    background-color: rgb(66, 66, 66);
    width:98.9vw;
    height:4em;
    padding-top:10px;
}
footer > p {
    font-size:30px;
    text-align:center;
}
footer > p > a {
    color: rgb(248, 21, 21);
    text-decoration:none;      
}

/*@media screen and (max-width:600px)*/
